p, h2 {
  margin: 0;
  padding: 0;
}

.about-us-body {
  margin-bottom: 30px;
}

.about-us-title {
  font-family: 'Carter One', cursive;
  margin-left: 10px;
  margin-top: 50px;
}

#title-date {
  font-size: 27px;
}

.about-us-subtitle {
  font-weight: bold;
  font-size: 25px;
  margin-left: 10px;
  margin-top: 20px;
  color: rgb(0, 0, 0);
}

.about-us-text {
  padding: 0px;
  margin: 10px;
}

.table-container {
  overflow: scroll;
}

.testemonials-container {
  margin-top: 20px;
  margin-bottom: 50px;
}

.testemonial-img-wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.testemonial-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
  /* position: relative; */
  /* bottom: 75px; */
}

.testemonial-text-wrapper {
  padding: 0;
  margin: 0;
}

.testemonial-title {
  margin-bottom: 5px;
  /* padding-left: 20px; */
  text-align: center;
}

.testemonial-subtitle {
  color: gray;
  font-style: italic;
  margin-bottom: 10px;
  text-align: center;
}

.testemonial-text {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.45;
  margin-bottom: 20px;
}

.signup-btn-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-bottom: 50px;
  margin-top: 50px;
}

/* Screen size specs */

@media only screen and (max-width: 576px) {
}


@media only screen and (min-width: 576px) {
}


@media only screen and (min-width: 767px) {
    .about-us-hero {
        height: 250px;
    }

    .about-us-title, #title-date {
        margin-left: 30px;
        font-size: 45px;
    }

    .about-us-text {
      margin-left: 30px;
    }

    .about-us-text {
        max-width: 500px;
    }
    
    .table-container {
      margin: 30px;
      margin-left: 100px;
      margin-right: 100px;
      box-shadow: 5px 5px 10px rgb(173, 173, 173);
      border-radius: 10px;
    }

    .testemonials-container {
        display: flex;
        margin-left: 30px;
        margin-right: 30px;
    }

    .testemonial-img-wrapper {
        width: auto;
        /* align-items: center; */
    }

    .testemonial-title {
      text-align: left;
      margin-left: 20px;
    }

    .testemonial-subtitle {
      text-align: left;
      margin-left: 20px;
    }
}


@media only screen and (min-width: 992px) {
    .about-us-text {
        max-width: 600px;
    }
}


@media only screen and (min-width: 1200px) {
    .about-us-hero {
        height: 350px;
    }

    .about-us-body {
        margin-top: 50px;
        margin-left: 250px;
        margin-right: 250px;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 1700px) {
    .about-us-hero {
        height: 450px;
    }

    .about-us-body {
        margin-top: 50px;
        margin-left: 500px;
        margin-right: 500px;
        margin-bottom: 50px;
    }
}
