h2, p {
  margin: 0px;
  padding: 0px;
}

.app {
  margin-top: 20px;
}

.bio-container {
  /* display: flex; */
}

.bio-img-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.bio-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 3px 3px 10px gray;
}

.bio-text-container {

}

.bio-header {
  text-align: center;
  width: 100vw;
  margin-top: 5px;
}

.bio-subtitle {
  font-style: italic;
  text-align: center;
  width: 100vw;
  color: rgb(107, 107, 107);
}

.bio-text {
  margin: 20px;
}

/* Screen size specs */

@media only screen and (max-width: 576px) {
}


@media only screen and (min-width: 576px) {
}


@media only screen and (min-width: 768px) {
}


@media only screen and (min-width: 992px) {
}


@media only screen and (min-width: 1200px) {
}
